  .naz{
    text-align: center;
    border-bottom: 6px solid black 
    }
 
body{
    background-color:beige;
}
.sora1{
    margin-top: 10px;
    height: 300px;
    width: 300px;
     
}
.sora2{
    margin-top: 10px;
    height: 300px;
    width: 300px;
}
.sora3{
    margin-top: 10px;
    height: 300px ;
    width:300px ;
}
h3{
    color: aqua;
}
h2{
    color: aquamarine;
    text-align: center;
    border: solid 1px black;
    background-color: black;
    border-radius: 50%

    
}
 
 
.area{
    display: flex;
    gap: 5px;
    justify-content: center;
}
h6{
    color: grey;
}
li{
    border-bottom: 1px;
    list-style: none;
    justify-content: center;
    display: flex;
     box-shadow: 10px rgb(23, 45, 66);

}
.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: black;
    justify-content: center;
    
  }
.wopty{
    background-color: black;
    width: 190px;
    height: 60px;
    border-style: outset;
    justify-content: center;
}
.ow1{
    border:1px solid gray ;
    box-shadow: 1px;
    padding: 5%;
    height: 510px;
    width: 300px;
}
.ow2{
    border:1px solid gray ;
    padding: 5%;
    height:510px ;
    width: 300px;
}
.ow3{
    border:1px solid gray ;
    padding: 5%;
    height:510px ;
    width: 300px;
}
  footer{
    justify-content: center;
    background-position: center;
  }
  .popa{
    display: flex;
  }